<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxy.zxyim">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_LOGS"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- ********华为推送权限设置******** -->
    <permission android:name="com.tencent.qcloud.tim.tuikit.permission.PROCESS_PUSH_MSG" android:protectionLevel="signatureOrSystem"/>

    <uses-permission android:name="com.tencent.qcloud.tim.tuikit.permission.PROCESS_PUSH_MSG"/>

    <!-- ********小米推送权限设置******** -->
    <permission android:name="com.tencent.qcloud.tim.tuikit.permission.MIPUSH_RECEIVE" android:protectionLevel="signature"/>

    <uses-permission android:name="com.tencent.qcloud.tim.tuikit.permission.MIPUSH_RECEIVE"/>

    <!-- ********魅族推送权限设置******** -->
    <!-- 兼容flyme5.0以下版本，魅族内部集成pushSDK必填，不然无法收到消息 -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"/>

    <permission android:name="com.tencent.qcloud.tim.tuikit.push.permission.MESSAGE" android:protectionLevel="signature"/>

    <uses-permission android:name="com.tencent.qcloud.tim.tuikit.push.permission.MESSAGE"/>

    <!-- 兼容flyme3.0配置权限 -->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE"/>

    <permission android:name="com.tencent.qcloud.tim.tuikit.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

    <uses-permission android:name="com.tencent.qcloud.tim.tuikit.permission.C2D_MESSAGE"/>


    <application>
        <activity android:name=".MessageListActivity"></activity>
        <activity android:name=".ZxyChatActivity" />
    </application>

</manifest>